<!--Iterate through all j2 templates to create navigation-->

<nav class="navbar">
  <a class="navbar-item" href="/">homepage</a>
  {% for menu_item in ["synthesizers", "manufacturers", "customers", "orders", "ordersynthesizer", "purchases", "purchasesynthesizer"] %}
    <a class="navbar-item" href="{{ url_for(menu_item) }}">{{ menu_item }}</a>
  {% endfor %}
</nav>