{# templates/base.j2 #}

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>

<body>
  <header>
    <h1>Ciani Synths</h1>
    {% include "_navigation.j2" %}
  </header>
  <div class="container">
  {% block content %}
    <h1>Welcome to {{ title }}!</h1>
  {% endblock content %}
  </div>
</body>
</html>