{% extends "base.j2" %}

{% block content %}
    <h2>Customers</h2>
    <div id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>

                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                                <td> {{item[key]}} </td>
                            {%endfor %}
                        </tr>
                        {% endfor %} 
                     </tbody>
            {% endif %}
        </table>

       <td><button id="add-button" onclick="showAddForm()">Add</button></td>

    <form method="post" id="Add_Customer" style="display: none;">
    <h3>{% block customerAdd %} Add A Customer to Database {% endblock %}</h3>
        <label for="first-name">Customer First Name</label>
        <br>
        <input type="text" 
               id="first-name"
               name="first-name"
               placeholder="First Name"
               value="{{ request.form['first-name'] }}"
               maxlength="100"
               required>
        <br>
        <label for="last-name">Customer Last Name</label>
        <br>
        <input type="text"
               id="last-name"
               name="last-name"
               placeholder="Last Name"
               value="{{ request.form['last-name'] }}"
               maxlength="100"
               required>
        <br>
        <label for="street">Customer Street Address</label>
        <br>
        <input type="text" 
               id="street"
               name="street"
               placeholder="Street Address"
               value="{{ request.form['street'] }}"
               maxlength="100"
               required>
        <br>
        <label for="street2">Customer Street Address 2</label>
        <br>
        <input type="text" 
               id="street2"
               name="street2"
               placeholder="Street Address 2"
               maxlength="100"
               value="{{ request.form['street2'] }}">
        <br>
        <label for="city">Customer City</label>
        <br>
        <input type="text" 
               id="city"
               name="city"
               placeholder="City"
               value="{{ request.form['city'] }}"
               maxlength="100"
               required>
        <br>
        <label for="state">Customer State</label>
        <br>
        <input type="text" 
               id="state"
               name="state"
               placeholder="State"
               value="{{ request.form['state'] }}"
               maxlength="2"
               required>
        <br>
        <label for="zip">Customer Zip Code</label>
        <br>
        <input type="text" 
               id="zip"
               name="zip"
               placeholder="Zip Code"
               value="{{ request.form['zip'] }}"
               maxlength="10"
               required>
        <br>
        <label for="email">Customer Email</label>
        <br>
        <input type="email" 
               id="email"
               name="email"
               placeholder="Email"
               value="{{ request.form['email'] }}"
               maxlength="100"
               required>
        <br>
        <label for="phone">Customer Phone Number</label>
        <br>
        <input type="tel" 
               id="phone"
               name="phone"
               placeholder="Phone Number"
               value="{{ request.form['phone'] }}"
               maxlength="10"
               required>
        <br>
       <input type="submit" value="Submit Customer" name="Add_Customer">        
    </form>

<script>
 function showAddForm() {
  document.getElementById('Add_Customer').style.display = 'block';
 }
</script>
{% endblock content %}