<html>
<head>
    <title>Ciani Synths | Ciani Synths</title>
</head>
<body>
  <header>
    {% include "_navigation.j2" %}
  </header>
    <h1>Ciani Synths</h1>
    <p>This is a demonstration project created to show students how to create a Flask app and connect it to a MySQL database.</p>
</body>
</html>
