{% extends "base.j2" %}

{% block content %}
    <h1>Manufacturers</h1>
    <div id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>

                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                                <td> {{item[key]}} </td>
                            {%endfor %}
                            <td><a href="">Edit</a></td>
                            <td><input type="button" value="Delete" onclick="deleteRow(this)"></td>
                        </tr>
                        {% endfor %} 
            {% endif %}
        </table>

    <form method="post" id="add-form" style="display: none;">
    <h1>{% block manufacturer %} Add A Manufacturer to Database {% endblock %}</h1>
        <label for="name">Manufacturer Name</label>
        <br>
        <input type="text" 
               id="name"
               name="name"
               placeholder="Name"
               value="{{ request.form['name'] }}"
               maxlength="100"
               required>
        <br>
        <label for="street">Manufacturer Street Address</label>
        <br>
        <input type="text" 
               id="street"
               name="street"
               placeholder="Street Address"
               value="{{ request.form['street'] }}"
               maxlength="100"
               required>
        <br>
        <label for="street2">Manufacturer Street Address 2</label>
        <br>
        <input type="text" 
               id="street2"
               name="street2"
               placeholder="Street Address 2"
               maxlength="100"
               value="{{ request.form['street2'] }}">
        <br>
        <label for="city">Manufacturer City</label>
        <br>
        <input type="text" 
               id="city"
               name="city"
               placeholder="City"
               value="{{ request.form['city'] }}"
               maxlength="100"
               required>
        <br>
        <label for="state">Manufacturer State</label>
        <br>
        <input type="text" 
               id="state"
               name="state"
               placeholder="State"
               value="{{ request.form['state'] }}"
               maxlength="2"
               required>
        <br>
        <label for="zip">Manufacturer Zip Code</label>
        <br>
        <input type="text" 
               id="zip"
               name="zip"
               placeholder="Zip Code"
               value="{{ request.form['zip'] }}"
               maxlength="10"
               required>
        <br>
        <label for="email">Manufacturer Email</label>
        <br>
        <input type="email" 
               id="email"
               name="email"
               placeholder="Email"
               value="{{ request.form['email'] }}"
               maxlength="100"
               required>
        <br>
        <label for="phone">Manufacturer Phone Number</label>
        <br>
        <input type="tel" 
               id="phone"
               name="phone"
               placeholder="Phone Number"
               value="{{ request.form['phone'] }}"
               maxlength="10"
               required>
        <br>
        <button type="submit">Submit</button>
    </form>

    <form method="post" id="update-form" style="display: none;">
    <h1>{% block customerUpdate %} Update A Manufacturer in Database {% endblock %}</h1>
        <label for="manufacturerID">Manufacturer ID</label>
        <br>
          <select required id="manufacturerID" name="manufacturerID">
            <option value="" disabled selected>Select the Manufacturer</option>
            <option value="1">ID 1</option>
            <option value="2">ID 2</option>
            <option value="3">ID 3</option>
            <option value="4">ID 4</option>
            <option value="5">ID 5</option>
          </select>
        <br>
        <label for="manufacturerName">Manufacturer Name</label>
        <br>
        <input type="text" 
               id="manufacturerName"
               name="manufacturerName"
               placeholder="Manufacturer Name"
               value="{{ request.form['manufacturerName'] }}"
               maxlength="100"
               required>
        <br>
        <label for="manufacturerStreet">Street Address 1</label>
        <br>
        <input type="text"
               id="manufacturerStreet"
               name="manufacturerStreet"
               placeholder="Street Address 1"
               value="{{ request.form['manufacturerStreet'] }}"
               maxlength="100"
               required>
        <br>
        <label for="manufacturerStreet2">Street Address 2</label>
        <br>
        <input type="text" 
               id="manufacturerStreet2"
               name="manufacturerStreet2"
               placeholder="Street Address 2"
               value="{{ request.form['manufacturerStreet2'] }}"
               maxlength="100"
               required>
        <br>
        <label for="manufacturerCity">City</label>
        <br>
        <input type="text" 
               id="manufacturerCity"
               name="manufacturerCity"
               placeholder="City"
               maxlength="100"
               value="{{ request.form['manufacturerCity'] }}">
        <br>
        <label for="state">State</label>
        <br>
        <input type="text" 
               id="manufacturerState"
               name="manufacturerState"
               placeholder="State"
               value="{{ request.form['manufacturerState'] }}"
               maxlength="2"
               required>
        <br>
        <label for="manufacturerZip">Zip Code</label>
        <br>
        <input type="text" 
               id="manufacturerZip"
               name="manufacturerZip"
               placeholder="Zip Code"
               value="{{ request.form['manufacturerZip'] }}"
               maxlength="10"
               required>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" 
               id="manufacturerEmail"
               name="manufacturerEmail"
               placeholder="Email"
               value="{{ request.form['manufacturerEmail'] }}"
               maxlength="100"
               required>
        <br>
        <label for="phone">Phone Number</label>
        <br>
        <input type="tel" 
               id="manufacturerPhone"
               name="manufacturerPhone"
               placeholder="Phone Number"
               value="{{ request.form['manufacturerPhone'] }}"
               maxlength="10"
               required>
        <br>
        <button type="submit">Submit</button>
    </form>
<script>
 function deleteRow(r) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("ManufacturersTable").deleteRow(i);
} 
 function showUpdateForm() {
  document.getElementById('update-form').style.display = 'block';
 }
 function showAddForm() {
  document.getElementById('add-form').style.display = 'block';
 }
</script>
{% endblock content %}