<html>
<head>
    <title>Ciani Synths | Syntheizer Customer Orders</title>
</head>
<body>
    <h1>Syntheizer Customer Orders</h1>
    <table>
    <tr>
        <th>Order Syntheizer ID</th>
        <th>Order ID</th>
        <th>Syntheizer ID</th>
        <th>Syntheizer Quantity</th>
        <th>Syntheizer Unit Price</th>
        <th>Syntheizer Line Price</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>2999.99</td>
        <td>5999.98</td>
    </tr>
    <tr>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>22930.99</td>
        <td>22930.99</td>
    </tr>
    <tr>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td>3</td>
        <td>999.99</td>
        <td>2999.97</td>
    </tr>
    <tr>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>2999.99</td>
        <td>2999.99</td>
    </tr>
    <tr>
        <td>5</td>
        <td>4</td>
        <td>4</td>
        <td>1</td>
        <td>699.99</td>
        <td>699.99</td>
    </tr>
    <tr>
        <td>6</td>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>7899.99</td>
        <td>7899.99</td>
    </tr>
    <tr>
        <td>7</td>
        <td>5</td>
        <td>1</td>
        <td>1</td>
        <td>2999.99</td>
    </tr>
    </table>
</body>
</html>