{% extends "base.j2" %}

{% block content %}
    <h1>Orders</h1>
    <div id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>

                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                                <td> {{item[key]}} </td>
                            {%endfor %}
                            <td><a href="">Edit</a></td>
                            <td><input type="button" value="Delete" onclick="deleteRow(this)"></td>
                        </tr>
                        {% endfor %} 
                        <tr>
                        <td><button id="add-button" onclick="showAddForm()">Add</button></td>
                        </tr>
                    </tbody>
            {% endif %}
        </table>

    <!-- insert -->
    <form method="post" id="Add_Order" style="display: none;">
    <h1>{% block orderAdd %} Add an Order to Database {% endblock %}</h1>
        <br>
          {% if customerNames %}
            <label for="customerID">Customer</label>
            <select required id="customerID" name="customerID">
                <option value="" disabled selected>Select the Customer</option>
                {% for customer in customerNames %}
                  <option value="{{customer.customerID}}">{{customer.customerFirstName}} {{customer.customerLastName}} (ID: {{customer.customerID}})</option>
                {% endfor %}
            </select>
          {% endif %}
        <br>
        <label for="orderDate">Order Date</label>
        <br>
        <input type="date" 
               id="orderDate"
               name="orderDate"
               placeholder="Order Date"
               value="{{ request.form['orderDate'] }}"
               required>
        <br>
        <br>
          {% if synthesizersNames %}
            <label for="synthesizerID">Synthesizers</label>
            <select required id="synthesizerID" name="synthesizerID">
                <option value="" disabled selected>Select the Synthesizer</option>
                {% for synthesizer in synthesizersNames %}
                  <option value="{{synthesizer.synthesizerID}}">ID: {{synthesizer.synthesizerID}} {{synthesizer.synthesizerName}}</option>
                {% endfor %}
            </select>
          {% endif %}
        <br>
        <label for="quantity">Quantity</label>
        <br>
        <input type="number" 
            id="quantity"
            name="quantity"
            min = "1"
            required>
        <br>
        <input type="button" value="Add Order Item" onclick="addOrderItem(this)">   
        <br>     
       <input type="submit" value="Submit Order" name="Add_Order">        
    </form>
<script>
 function deleteRow(r) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("SynthesizersTable").deleteRow(i);
} 
 function showUpdateForm() {
  document.getElementById('update-form').style.display = 'block';
 }
 function showAddForm() {
  document.getElementById('Add_Order').style.display = 'block';
 }
</script>

{% endblock content %}

