<html>
<head>
    <title>Ciani Synths | Synthesizer Purchase Orders</title>
</head>
<body>
  <section>
  <header>
    {% include "_navigation.j2" %}
  </header>
    <h1>Synthesizer Purchase Orders</h1>
    <table id = "purchaseSynthesizerTable">
    <tr>
        <th>Purchase Synthesizer ID</th>
        <th>Purchase ID</th>
        <th>Synthesizer ID</th>
        <th>Synthesizer Quantity</th>
        <th>Synthesizer Unit Cost</th>
        <th>Synthesizer Line Cost</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>2099.99</td>
        <td>4199.98</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>13335.99</td>
        <td>13335.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td>3</td>
        <td>799.99</td>
        <td>2399.97</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>2099.99</td>
        <td>2099.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>4</td>
        <td>4</td>
        <td>1</td>
        <td>499.99</td>
        <td>499.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>3999.99</td>
        <td>3999.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>7</td>
        <td>5</td>
        <td>1</td>
        <td>1</td>
        <td>2099.99</td>
        <td>2099.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    </table>

    <br>
    <select id="purchaseSynthesizerTableInput" name="purchaseID" onchange="purchaseSynthesizerSearch()">
        <option value="" disabled selected>Select Purchase ID</option>
        <option value="1">Purchase ID 1</option>
        <option value="2">Purchase ID 2</option>
        <option value="3">Purchase ID 3</option>
        <option value="4">Purchase ID 4</option>
        <option value="5">Purchase ID 5</option>
    </select>
    <label for="purchaseSynthesizerTableInput">Display all purchase items associated with a single purchase order</label>

    </section>
        
    <h1>{% block purchases %} Add A Synthesizer Purchase Order to Database {% endblock %}</h1>
    <form method="post">
        <label for="purchaseID">Purchase</label>
        <br>
            <select required id="purchaseID" name="purchaseID">
            <option value="" disabled selected>Select Purchase</option>
            <option value="1">ID 1</option>
            <option value="2">ID 2</option>
            <option value="3">ID 3</option>
            <option value="4">ID 4</option>
            <option value="5">ID 5</option>
            <option value="6">ID 6</option>
        </select>
        <br>
        <label for="synthesizerID">Synthesizer</label>
        <br>
            <select required id="synthesizerID" name="synthesizerID">
            <option value="" disabled selected>Select the Synthesizer</option>
            <option value="1">ID 1: Juno60</option>
            <option value="2">ID 2: Jupiter8</option>
            <option value="3">ID 3: Prophet5</option>
            <option value="4">ID 4: WavestateMK2</option>
            <option value="5">ID 5: Grandmother</option>
        </select>
        <br>
        <label for="quantity">Quantity</label>
        <br>
        <input type="number" 
               id="quantity"
               name="quantity"
               required>
        <br>
        <label for="unit-cost">Unit Cost</label>
        <br>
        <input type="text" 
               id="unit-cost"
               name="unit-cost"
               placeholder="unit-cost"
               value="{{ request.form['unit-cost'] }}"
               min="0"
               max="10"
               required>
        <br>
        <label for="line-price">Line Cost</label>
        <br>
        <input type="text" 
               id="line-cost"
               name="line-cost"
               placeholder="line-cost"
               value="{{ request.form['line-cost'] }}"
               min="0"
               max="10"
               required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>


 <script>
function purchaseSynthesizerSearch() {
  var purchaseSelectionID, filter, table, tr, td, i, dropDownValue;
  purchaseSelectionID = document.getElementById("purchaseSynthesizerTableInput");
  filter = purchaseSelectionID.value.toUpperCase();
  table = document.getElementById("purchaseSynthesizerTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      dropDownValue = td.textContent || td.innerText;
      if (dropDownValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>