<! -- Citation for the following code: -->
<! -- Date: 08/12/2024 -->
<! -- Based on: -->
<! -- Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app -->

<! -- Citation for the following code: -->
<! -- Date: 08/12/2024 -->
<! -- Based on: -->
<! -- Source URL: https://jinja.palletsprojects.com/en/3.1.x/ -->

<! -- Citation for the following code: (function addPurchaseItem)-->
<! -- Date: 08/12/2024 -->
<! -- Based on: -->
<! -- Source URL: https://sagarkaurav.hashnode.dev/flask-wtf-forms-dynamic-fields-using-javascript -->

{% extends "base.j2" %}

{% block content %}
    <h2>Purchases</h2>
    <div id="browse">
        <table>
        <!--iterate through data from SQL query and display as table-->
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>

                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                                <td> {{item[key]}} </td>
                            {%endfor %}
                        </tr>
                        {% endfor %} 
            {% endif %}
        </table>

      <!--Add form will pop up if clicked-->
        <td><button id="add-button" onclick="showAddForm()">Add</button></td>
    </div>

    <p><i>When a customer places an order, our store, Ciani Synths, must fulfill the customer's
     order by placing a purchase order from the manufacturer, which is what Purchases represent. This allows
     the customer's order to be dropshipped directly from the manufacturer.
     Each purchase generates at least one purchaseSynthesizer. Each purchaseSynthesizer
    in a purchase represents the quantity of a specific synthesizer being purchased.</i></p>

    <!--insert-->
    <form method="post" id="Add_Purchase" style="display: none;">
    <h4>Add A Purchase to Database</h4>
    <div class="row">
      <div class="three columns">
        <!--iterate through data from SQL query and display as select drop-down-->
        {% if orderIds %}
          <label for="orderID">Order</label>
          <select id="orderID" name="orderID">
              <option value="" selected>NULL</option>
              {% for order in orderIds %}
                <option value="{{order.orderID}}">{{ order.orderID }}</option>
              {% endfor %}
          </select>
        {% endif %}
      </div>
      <div class="three columns">
        {% if manufacturerIds %}
          <!--iterate through data from SQL query and display as select drop-down-->
          <label for="manufacturerID">Manufacturer</label>
          <br>
          <select required id="manufacturerID" name="manufacturerID">
              <option value="" disabled selected>Select the Manufacturer</option>
                {% for manufacturer in manufacturerIds %}
                  <option value="{{manufacturer.manufacturerID}}">{{ manufacturer.manufacturerName }} (ID: {{ manufacturer.manufacturerID }})</option>
                {% endfor %}
          </select>
        {% endif %}
      </div>
    </div>
      <label for="order-date">Purchase Date</label>
      <br>
      <input type="date" 
             id="purchaseDate"
             name="purchaseDate"
             placeholder="Purchase Date"
             value="{{ request.form['purchase-date'] }}"
             required>
      <div id="purchase-line-items">
          <!-- Line items will be added here -->
      </div>
      <button type="button" onclick="addPurchaseItem()">Add Line Item</button>
      <br>
      <button class="button-primary" type="submit" value="Submit Purchase" name="Add_Purchase">Submit</button>
    </form>


<!--Javascript-->
<script>
countPurchaseItems = 0;
<!--Displays add-form if clicked-->
 function showAddForm() {
  document.getElementById('Add_Purchase').style.display = 'block';
 }

<!--Add new purchase item each time button is clicked, append to list-->
 function addPurchaseItem() {
    countPurchaseItems++;
    const container = document.getElementById('purchase-line-items');
    const newPurchaseItem = document.createElement('div');
    newPurchaseItem.innerHTML = `
        <h5>Item ${countPurchaseItems}</h5>
          <!--iterate through data from SQL query and display as select drop-down-->
          {% if synthesizersNames %}
            <label for="synthesizerID${countPurchaseItems}">Synthesizers</label>
            <select required id="synthesizerID${countPurchaseItems}" name="synthesizerID${countPurchaseItems}">
                <option value="" disabled selected>Select the Synthesizer</option>
                {% for synthesizer in synthesizersNames %}
                  <option value="{{synthesizer.synthesizerID}}">{{synthesizer.synthesizerName}} (ID: {{synthesizer.synthesizerID}})</option>
                {% endfor %}
            </select>
          {% endif %}
        <br>
        <label for="quantity${countPurchaseItems}">Quantity</label>
        <br>
        <input type="number" 
            id="quantity${countPurchaseItems}"
            name="quantity${countPurchaseItems}"
            min = "1"
            required>
        <br>
    `;
    container.appendChild(newPurchaseItem);
}
</script>
{% endblock content %}