<html>
<head>
    <title>Ciani Synths | Purchases</title>
</head>
<body>
  <header>
    {% include "_navigation.j2" %}
  </header>
    <h1>Purchases</h1>
    <table>
    <tr>
        <th>Purchase ID</th>
        <th>Order ID</th>
        <th>Manufacturer ID</th>
        <th>Purchase Date</th>
        <th>Purchase Cost</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>2024-03-18</td>
        <td>17535.97</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>2</td>
        <td>4</td>
        <td>2024-07-14</td>
        <td>2399.97</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>2024-11-15</td>
        <td>2099.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>2024-12-02</td>
        <td>499.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>4</td>
        <td>2</td>
        <td>2024-12-02</td>
        <td>3999.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td>5</td>
        <td>1</td>
        <td>2024-01-05</td>
        <td>2099.99</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    </table>
    
    <h1>{% block purchases %} Add A Purchase to Database {% endblock %}</h1>
    <form method="post">
        <label for="orderID">Order</label>
        <br>
        <select id="orderID" name="orderID">
        </select>
        <br>
        <label for="manufacturerID">Manufacturer</label>
        <br>
        <select id="manufacturerID" name="manufacturerID">
        </select>
        <br>
        <label for="order-date">Purchase Date</label>
        <br>
        <input type="date" 
               id="purchase-date"
               name="purchase-date"
               placeholder="Purchase Date"
               value="{{ request.form['purchase-date'] }}"
               required>
        <br>
        <label for="cost">Purchase Cost</label>
        <br>
        <input type="text" 
               id="cost"
               name="cost"
               placeholder="Cost"
               value="{{ request.form['cost'] }}"
               min="0"
               required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>