<html>
<head>
    <title>Ciani Synths | Syntheizer Purchase Orders</title>
</head>
<body>
    <h1>Syntheizer Purchase Orders</h1>
    <table>
    <tr>
        <th>Purchase Syntheizer ID</th>
        <th>Purchase ID</th>
        <th>Syntheizer ID</th>
        <th>Syntheizer Quantity</th>
        <th>Syntheizer Unit Cost</th>
        <th>Syntheizer Line Cost</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>2099.99</td>
        <td>4199.98</td>
    </tr>
    <tr>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>13335.99</td>
        <td>13335.99</td>
    </tr>
    <tr>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td>3</td>
        <td>799.99</td>
        <td>2399.97</td>
    </tr>
    <tr>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>2099.99</td>
        <td>2099.99</td>
    </tr>
    <tr>
        <td>5</td>
        <td>4</td>
        <td>4</td>
        <td>1</td>
        <td>499.99</td>
        <td>499.99</td>
    </tr>
    <tr>
        <td>6</td>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>3999.99</td>
        <td>3999.99</td>
    </tr>
    <tr>
        <td>7</td>
        <td>5</td>
        <td>1</td>
        <td>1</td>
        <td>2099.99</td>
        <td>2099.99</td>
    </tr>
    </table>
</body>
</html>