{% extends "base.j2" %}

{% block content %}
    <h2>Purchase Synthesizer</h2>
    <div id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>

                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                                <td> {{item[key]}} </td>
                            {%endfor %}
                            <td><input type="button" value="Delete" onclick="deleteRow(this)"></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><button id="add-button" onclick="showAddForm()">Add</button></td>
                        </tr>
                      </tbody>
            {% endif %}
        </table>

    <br>
    <label for="purchaseSynthesizerTableInput">Display all purchase items associated with a single purchase order</label>
    <select id="purchaseSynthesizerTableInput" name="purchaseID" onchange="purchaseSynthesizerSearch()">
        <option value="" disabled selected>Select Purchase ID</option>
        <option value="1">Purchase ID 1</option>
        <option value="2">Purchase ID 2</option>
        <option value="3">Purchase ID 3</option>
        <option value="4">Purchase ID 4</option>
        <option value="5">Purchase ID 5</option>
    </select>
    </section>

    <!--insert-->
    <form method="post" id="add-form" style="display: none;">
    <h3>{% block addForm %} Add A Synthesizer Purchase to Database {% endblock %}</h3>
        <label for="purchaseID">Purchase</label>
        <br>
         {% if purchaseIds %}
            <label for="purchaseID">Purchase ID</label>
            <select required id="purchaseID" name="purchaseID">
                <option value="" disabled selected>Select the Associated Purchase</option>
                {% for id in purchaseIds %}
                  <option value="{{id.purchaseID}}">PurchaseID: {{id.purchaseID}}</option>
                {% endfor %}
            </select>
          {% endif %}
        <br>
          {% if synthesizersNames %}
            <label for="synthesizerID">Synthesizers</label>
            <select required id="synthesizerID" name="synthesizerID">
                <option value="" disabled selected>Select the Synthesizer</option>
                {% for synthesizer in synthesizersNames %}
                  <option value="{{synthesizer.synthesizerID}}">ID: {{synthesizer.synthesizerID}} {{synthesizer.synthesizerName}}</option>
                {% endfor %}
            </select>
          {% endif %}
        <br>
        <label for="quantity">Quantity</label>
        <br>
        <input type="number" 
               id="quantity"
               name="quantity"
               min = "1"
               required>
        <br>
        <input type="submit" value="Add to Purchase" name="Add_PurchaseSynthesizer">
      </form>

    <form method="post" id="update-form" style="display: none;">
    <h1>{% block updateForm %} Update A Synthesizer Purchase Order in Database {% endblock %}</h1>
        <label for="purchaseSynthesizerID">Purchase Synthesizer ID</label>
        <br>
            <select required id="purchaseSynthesizerID" name="purchaseSynthesizerID">
            <option value="" disabled selected>Select Purchase Synthesizer ID</option>
            <option value="1">ID 1</option>
            <option value="2">ID 2</option>
            <option value="3">ID 3</option>
            <option value="4">ID 4</option>
            <option value="5">ID 5</option>
            <option value="6">ID 6</option>
            <option value="7">ID 7</option>
        </select>
        <br>
        <label for="purchaseID">Purchase</label>
        <br>
            <select required id="purchaseID" name="purchaseID">
            <option value="" disabled selected>Select Purchase</option>
            <option value="1">ID 1</option>
            <option value="2">ID 2</option>
            <option value="3">ID 3</option>
            <option value="4">ID 4</option>
            <option value="5">ID 5</option>
            <option value="6">ID 6</option>
        </select>
        <br>
        <label for="synthesizerID">Synthesizer</label>
        <br>
            <select required id="synthesizerID" name="synthesizerID">
            <option value="" disabled selected>Select the Synthesizer</option>
            <option value="1">ID 1: Juno60</option>
            <option value="2">ID 2: Jupiter8</option>
            <option value="3">ID 3: Prophet5</option>
            <option value="4">ID 4: WavestateMK2</option>
            <option value="5">ID 5: Grandmother</option>
        </select>
        <br>
        <label for="quantity">Quantity</label>
        <br>
        <input type="number" 
               id="quantity"
               name="quantity"
               required>
        <br>
        <label for="unit-cost">Unit Cost</label>
        <br>
        <input type="text" 
               id="unit-cost"
               name="unit-cost"
               placeholder="unit-cost"
               value="{{ request.form['unit-cost'] }}"
               min="0"
               max="10"
               required>
        <br>
        <label for="line-price">Line Cost</label>
        <br>
        <input type="text" 
               id="line-cost"
               name="line-cost"
               placeholder="line-cost"
               value="{{ request.form['line-cost'] }}"
               min="0"
               max="10"
               required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>


 <script>
function purchaseSynthesizerSearch() {
  var purchaseSelectionID, filter, table, tr, td, i, dropDownValue;
  purchaseSelectionID = document.getElementById("purchaseSynthesizerTableInput");
  filter = purchaseSelectionID.value.toUpperCase();
  table = document.getElementById("purchaseSynthesizerTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      dropDownValue = td.textContent || td.innerText;
      if (dropDownValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<script>
 function deleteRow(r) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("purchaseSynthesizerTable").deleteRow(i);
}
 function showUpdateForm() {
  document.getElementById('update-form').style.display = 'block';
 }
 function showAddForm() {
  document.getElementById('add-form').style.display = 'block';
 }
</script>

{% endblock content %}