{% extends "base.j2" %}

{% block content %}
    <h1>Synthesizers</h1>
    <div id="browse">
      <table border="1" cellpadding="5">
      <!-- Accessing data variable passed from app.py -->
      {% if data %}
        <thead>
          <tr>
          <!-- Get column names -->
          {% for key in data[0].keys()%}
              <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          <!-- Iterate through every item in data -->
          {% for item in data %}
          <tr>
            <!-- Then, iterate through every key in the current item dict -->
            {% for key in item.keys() %}
              <!-- Create <td> element with the value of that key in it -->
              <td> {{item[key]}} </td>
            {% endfor %}
              <!-- Create our edit/delete buttons -->
              <td><a href="">Edit</a></td>
              <td><input type="button" value="Delete" onclick="deleteRow(this)"></td>          </tr>
          </tr>
          {% endfor %}
          <tr>
            <td><button id="add-button" onclick="showAddForm()">Add</button></td>
          </tr>
        </tbody>
        {% endif %}
      </table>
    </div>
    
    <form method="post" id="add-form" style="display: none;">
    <h1>{% block addForm %} Add A Synthesizer to Database {% endblock %}</h1>
        <label for="manufacturerID">Manufacturer</label>
        <br>
        <select required id="manufacturerID" name="manufacturerID">
            <option value="" disabled selected>Select the Manufacturer</option>
            <option value="1">ID 1: Roland </option>
            <option value="2">ID 2: Sequential</option>
            <option value="3">ID 3: Korg</option>
            <option value="4">ID 4: Moog</option>
            <option value="5">ID 5: Yamaha</option>
        </select>
        <br>
        <label for="name">Synthesizer Name</label>
        <br>
        <input type="text" 
               id="name"
               name="name"
               placeholder="Name"
               value="{{ request.form['name'] }}"
               maxlength="100"
               required>
        <br>
        <label for="cost">Synthesizer Cost</label>
        <br>
        <input type="text" 
               id="cost"
               name="cost"
               placeholder="cost.00"
               value="{{ request.form['cost'] }}"
               maxlength="100"
               required>
        <br>
        <label for="price">Synthesizer Price</label>
        <br>
        <input type="text" 
               id="price"
               name="price"
               placeholder="price.00"
               value="{{ request.form['price'] }}"
               maxlength="100"
               required>
        <br>
        <label for="signal">Signal Type</label>
        <br>
        <input type="text" 
               id="signal"
               name="signal"
               placeholder="signal type"
               maxlength="100"
               value="{{ request.form['signal'] }}">
        <br>
        <label for="keyboard">Has a Keyboard?</label>
        <br>
        <input type="checkbox" 
               id="keyboard"
               name="keyboard"
               value="{{ request.form['city'] }}">
        <br>
        
        <button type="submit">Submit</button>
    </form>
    
    <form method="post" id="update-form" style="display: none;">
    <h1>{% block updateForm %} Update A Synthesizer in Database {% endblock %}</h1>
        <label for="synthesizerID">Synthesizer</label>
        <br>
        <select required id="synthesizerID" name="synthesizerID">
            <option value="" disabled selected>Select the Synthesizer ID</option>
            <option value="1">ID 1</option>
            <option value="2">ID 2</option>
            <option value="3">ID 3</option>
            <option value="4">ID 4</option>
            <option value="5">ID 5</option>
        </select>
        <br>
        <label for="manufacturerID">Manufacturer</label>
        <br>
        <select required id="manufacturerID" name="manufacturerID">
            <option value="" disabled selected>Select the Manufacturer</option>
            <option value="1">ID 1: Roland </option>
            <option value="2">ID 2: Sequential</option>
            <option value="3">ID 3: Korg</option>
            <option value="4">ID 4: Moog</option>
            <option value="5">ID 5: Yamaha</option>
        </select>
        <br>
        <label for="name">Synthesizer Name</label>
        <br>
        <input type="text" 
               id="name"
               name="name"
               placeholder="Name"
               value="{{ request.form['name'] }}"
               maxlength="100"
               required>
        <br>
        <label for="cost">Synthesizer Cost</label>
        <br>
        <input type="text" 
               id="cost"
               name="cost"
               placeholder="cost.00"
               value="{{ request.form['cost'] }}"
               maxlength="100"
               required>
        <br>
        <label for="price">Synthesizer Price</label>
        <br>
        <input type="text" 
               id="price"
               name="price"
               placeholder="price.00"
               value="{{ request.form['price'] }}"
               maxlength="100"
               required>
        <br>
        <label for="signal">Signal Type</label>
        <br>
        <input type="text" 
               id="signal"
               name="signal"
               placeholder="signal type"
               maxlength="100"
               value="{{ request.form['signal'] }}">
        <br>
        <label for="keyboard">Has a Keyboard?</label>
        <br>
        <input type="checkbox" 
               id="keyboard"
               name="keyboard"
               value="{{ request.form['city'] }}">
        <br>
        
        <button type="submit">Submit</button>
    </form>
<script>
 function deleteRow(r) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("SynthesizersTable").deleteRow(i);
} 
 function showUpdateForm() {
  document.getElementById('update-form').style.display = 'block';
 }
 function showAddForm() {
  document.getElementById('add-form').style.display = 'block';
 }
</script>
{% endblock content %}