<html>
<head>
    <title>Ciani Synths | Synthesizers</title>
</head>
<body>
  <header>
    {% include "_navigation.j2" %}
  </header>
    <h1>Synthesizers</h1>
    <table>
    <tr>
        <th>Synthesizer ID</th>
        <th>Manufacturer ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Price</th>
        <th>Signal Type</th>
        <th>Keyboard</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>Juno60</td>
        <td>2099.99</td>
        <td>2999.99</td>
        <td>Analog</td>
        <td>Y</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>2</td>
        <td>Jupiter8</td>
        <td>13335.99</td>
        <td>22930.99</td>
        <td>Analog</td>
        <td>Y</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
    
        <td>3</td>
        <td>3</td>
        <td>Prophet5</td>
        <td>3999.99</td>
        <td>7899.99</td>
        <td>Analog</td>
        <td>Y</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>4</td>
        <td>WavestateMK2</td>
        <td>499.99</td>
        <td>699.99</td>
        <td>Digital</td>
        <td>N</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>5</td>
        <td>Grandmother</td>
        <td>799.99</td>
        <td>999.99</td>
        <td>Analog</td>
        <td>Y</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
    </table>
    <p>This is a demonstration project created to show students how to create a Flask app and connect it to a MySQL database.</p>
    <h1>{% block synthesizer %} Add A Synthesizer to Database {% endblock %}</h1>
    <form method="post">
        <label for="manufacturerID">Manufacturer</label>
        <br>
        <select id="manufacturerID" name="manufacturerID">
        </select>
        <br>
        <label for="name">Synthesizer Name</label>
        <br>
        <input type="text" 
               id="name"
               name="name"
               placeholder="Name"
               value="{{ request.form['name'] }}"
               maxlength="100"
               required>
        <br>
        <label for="cost">Synthesizer Cost</label>
        <br>
        <input type="text" 
               id="cost"
               name="cost"
               placeholder="cost.00"
               value="{{ request.form['cost'] }}"
               maxlength="100"
               required>
        <br>
        <label for="price">Synthesizer Price</label>
        <br>
        <input type="text" 
               id="price"
               name="price"
               placeholder="price.00"
               value="{{ request.form['price'] }}"
               maxlength="100"
               required>
        <br>
        <label for="signal">Signal Type</label>
        <br>
        <input type="text" 
               id="signal"
               name="signal"
               placeholder="signal type"
               maxlength="100"
               value="{{ request.form['signal'] }}">
        <br>
        <label for="keyboard">Has a Keyboard?</label>
        <br>
        <input type="checkbox" 
               id="keyboard"
               name="keyboard"
               value="{{ request.form['city'] }}">
        <br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>